*{
    background-color: hsl(189, 47%, 66%);
    font-family: open  sans;
}
nav a>img{
    width: 40px;
    
}
nav > a{
    color: rgb(42, 42, 43);
    font-weight: 300;
    text-decoration:none;
    margin-right: 10px;
}


body{
    font-family: open  sans;
   
}
.fixed{
    position: fixed;
    z-index: 1000;

    
   
}
.mapa{
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: auto;
}
.final{
    text-align: center;
    font-size: 50px;
    margin: 20px 0 0 0;
    color: rgb(254, 253, 253);
}