*{
    background-color: hsl(189, 47%, 66%);
    font-family: open  sans;
}
nav a>img{
    width: 40px;
    align-items: center;
}
body{
    font-family: open  sans;
}

.mapa{
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: auto;
}
.final{
    text-align: center;
    font-size: 50px;
    margin: 20px 0 0 0;
    color: rgb(254, 253, 253);
}